<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="{{ url_for('insert') }}" method="POST" id="login-form">
        <input type="text" name="saticiAdi" id="saticiAdi" class="login-form-field" placeholder="Kullanıcı Adınız">
        <input type="submit" value="kaydet" id="login-form-submit">
      </form> 
</body>
</html>